{% extends '_layouts/base.html' %}

{% block title %}Cadastro Usuário{% endblock title %}

{% block content %}

<div class="container">
  {% if status == '0' %}
    <div class="alert alert-success mt-3" role="alert">
      Cadastro realizado com sucesso!
    </div>
  {% elif status == '1' %}
    <div class="alert alert-danger mt-3" role="alert">
      Dados não preenchidos!
    </div>
  {% elif status == '2' %}
    <div class="alert alert-danger mt-3" role="alert">
      Senha deve possuir pelo menos 8 caracteres.
    </div>
  {% elif status == '3' %}
    <div class="alert alert-danger mt-3" role="alert">
      Email já cadastrado!
    </div>
  {% elif status == '4' %}
    <div class="alert alert-danger mt-3" role="alert">
      Erro interno do sistema.
    </div>
  {% endif %}
 
  <div class="row">
    <div class="col-md-3"></div>

    <div class="col-md">
      <h1 class="mt-3">Cadastre-se</h1>
      <hr>

      <form method="POST" action="{% url 'users:valida_cadastro' %}">{% csrf_token %}
        <div class="mb-3">
          <label class="form-label">Nome</label>
          <input name="name" type="text" placeholder="Nome..." class="form-control">
        </div>
        
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input name="email" type="email" placeholder="Email..." class="form-control">
        </div>

        <div class="mb-3">
          <label class="form-label">Senha</label>
          <input name="password" type="password" placeholder="Senha..." class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Cadastrar</button>
        <a href="{% url 'users:login' %}" class="btn btn-secondary">Login</a>
      </form>
    </div>

    <div class="col-md-3"></div>
  </div>
</div><!-- container -->

{% endblock content %}