{% extends '_layouts/base.html' %}

{% block title %}Cadastro Usuário{% endblock title %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>

    <div class="col-md">
      <h1 class="mt-3">Cadastre-se</h1>
      <hr>

      <form method="POST">{% csrf_token %}
        <div class="mb-3">
          <label class="form-label">Nome</label>
          <input type="text" placeholder="Nome..." class="form-control">
        </div>
        
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" placeholder="Email..." class="form-control">
        </div>

        <div class="mb-3">
          <label class="form-label">Senha</label>
          <input type="password" placeholder="Senha..." class="form-control">
        </div>

        <button type="submit" class="btn btn-success">Cadastrar</button>
      </form>
    </div>

    <div class="col-md-3"></div>
  </div>
</div><!-- container -->

{% endblock content %}