{% extends '_layouts/base.html' %}

{% block title %}Detalhes{% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6 col-sm-8">
            <form">
                <!--Livro-->
                <div class="form-group mb-3">
                  <label class="mb-3" for="name">Nome do livro:</label>
                  <input type="text" class="form-control" id="name" value="{{ book.name }}">
                </div>
                <!--Autor-->
                <div class="form-group mb-3">
                    <label class="mb-3" for="author">Autor:</label>
                    <input type="text" class="form-control" id="author" value="{{ book.author }}">
                </div>
                <!--Co-autor-->
                {% if book.co_author %}
                <div class="form-group mb-3">
                    <label class="mb-3" for="coauthor">Co-autor:</label>
                    <input type="text" class="form-control" id="coauthor" value="{{ book.co_author }}">
                </div>
                {% endif %}
                <!--Categoria-->
                <div class="form-group mb-3">
                    <label class="mb-3" for="category">Categoria:</label>
                    <input type="text" class="form-control" id="category" value="{{ book.category }}">
                </div>
                <!--Data de cadastro-->
                <div class="form-group mb-3">
                    <label class="mb-3" for="date">Data de cadastro:</label>
                    <input type="text" class="form-control" id="date" value="{{ book.date_added }}" readonly>
                </div>
                <!--Emprestado-->
                <div class="form-group mb-3">
                    <label class="mb-3" for="date">Emprestado:</label>
                    {% if book.lent %}
                    <input class="form-check-input" type="checkbox" checked name="lent">
                    {% else %}
                    <input class="form-check-input" type="checkbox" name="lent">
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary mt-3">Salvar</button>
              </form>
        </div><!--col-->
        <div class="col"></div>
    </div><!--row-->
</div><!--container-->

{% endblock content %}