{% extends '_layouts/base.html' %}
{% load filters %}

{% block title %}Detalhes{% endblock title %}

{% block menu %}
<li class="nav-item"></li>
{% endblock menu %}

{% block content %}

{% if status == '0' %}
    <script>
    setTimeout(function() {alert('Alterado com sucesso!');} ,0);
   </script>
{% endif %}

<div class="container">
    <div class="row">
        <div class="col">
            <a class="btn btn-secondary" href="{% url 'books:home' %}" role="button">Voltar</a>
        </div>

        <div class="col-6 col-sm-8">
            <h1 style="text-align: center;">Dados do livro:</h1>
            <hr>
            <form method="POST" action="{% url 'books:edit_book' %}">
                {% csrf_token %}
                <!--id livro-->
                <input type="hidden" name="id" value="{{ book.id }}">

                <!--Livro-->
                <div class="form-group mb-3">
                  <label class="mb-3" for="name">Nome do livro:</label>
                  <input type="text" class="form-control" name="name" id="name" value="{{ book.name }}">
                </div>
                <!--Autor-->
                <div class="form-group mb-3">
                    <label class="mb-3" for="author">Autor:</label>
                    <input type="text" class="form-control" name="author" id="author" value="{{ book.author }}">
                </div>
                <!--Co-autor-->
                <div class="form-group mb-3">
                    <label class="mb-3" for="coauthor">Co-autor:</label>
                    <input type="text" class="form-control" name="co_author" id="coauthor" value="{{ book.co_author }}">
                </div>
                <!--Categoria-->
                <div class="form-group mb-3">
                    <label class="mb-3" for="category">Categoria:</label>
                    <select  name="category" id="category">
                        {% for category in categories %}
                            {% if category == book.category %}
                                <option value="{{ category.name }}" selected>{{ category }}</option>
                            {% else %}
                                <option value="{{ category.name }}">{{ category }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <!--Data de cadastro-->
                <div class="form-group mb-3">
                    <label class="mb-3" for="date">Data de cadastro:</label>
                    <input type="text" class="form-control" id="date" value="{{ book.date_added }}" readonly>
                </div>
                <!--Emprestado-->
                <div class="form-group mb-3">
                    {% if book.lent %}
                        <button type="button" class="btn btn-outline-danger">Emprestado</button>
                    {% else %}
                        <button type="button" class="btn btn-outline-success">Disponível</button>
                    {% endif %}
                </div>
                <hr>
                <!-- botões -->
                <div>
                    <button type="submit" class="btn btn-success">Salvar</button>
                    <!-- Button trigger modal excluir -->
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete">
                        Excluir
                    </button>
                    <!-- Button trigger modal histórico -->
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target=".bd-example-modal-lg">
                        Histórico
                    </button>
                </div>
            </form>
            <hr>

            <!-- Modal Excluir -->
            <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="delete">Tem certeza que deseja excluir?</h5>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <a class="btn btn-success" href="{% url 'books:delete_book' book.id %}"">Confirmar</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal histórico -->
            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Histórico de Emprestimos:</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div><!--header-->
                        <div class="modal-body">
                            <table class="table table-bordered mt-4">
                                <thead>
                                    <tr>
                                        <th scope="col">Tomador</th>
                                        <th scope="col">Data de Empréstimo</th>
                                        <th scope="col">Data de Devolução</th>
                                        <th scope="col">Dias Emprestados</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if loans %}
                                        {% for loan in loans %}
                                        <tr>
                                            <th scope="row">{{ loan.borrower }}</th>
                                            <td>{{ loan.loan_date }}</td>
                                            {% if loan.return_date %}
                                            <td>{{ loan.return_date }}</td>
                                            {% else %}
                                            <td style="text-align: center;">-</td>
                                            {% endif %}
                                            <td style="text-align: center;">{{ loan.loan_date|borrowed_days }} dia(s)</td>
                                        </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div><!--body-->
                    </div>
                </div>
                </div>
            

        </div><!--col-->

        <div class="col"></div>
    </div><!--row-->
</div><!--container-->

{% endblock content %}