{% extends '_layouts/base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}

{% if status == '1' %}
    <div class="alert alert-danger mt-3" role="alert">
        Livro não cadastrado
    </div>
{% elif status == '2' %}
    <div class="alert alert-danger mt-3" role="alert">
        Acesso inválido
    </div>
{% endif %}

<div class="container">
    <div class="row">
        <div class="mb-4">
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#newcategory">
              Nova Categoria
            </button>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#newbook">
              Novo Livro
            </button>
        </div>
    </div>

    <div class="row">
        {% for book in books %}
            <div class="col-md mb-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body" style="text-align: center;">
                        <h5 class="card-title mb-3">{{ book }}</h5>
                        <!-- buttons -->
                        <div class="mt-4">
                            <a class="btn btn-primary" href="{% url 'books:details' book.id %}"">Acessar</a>
                            {% if book.lent %}
                                <a class="btn btn-outline-danger" href="#" role="button">Devolução</a>
                            {% else %}
                                <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#loan">
                                    Emprestar
                                </button>
                            {% endif %}
                        </div>
                    </div>
                  </div>
            </div>
        {% endfor %}
    </div><!--row-->

    <!-- Modal newbook -->
    <div class="modal fade" id="newcategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cadastrar categoria</h5>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'books:register_category' %}">{% csrf_token %}
                    <table>
                        {{ form_category.as_table }}
                    </table>
                    <hr class="mb-4">
                    <input type="submit" class="btn btn-success" value="Salvar">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div><!--modal-->
    
    <!-- Modal newbook -->
    <div class="modal fade" id="newbook" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cadastrar livro</h5>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'books:register_book' %}">{% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                    <hr class="mb-4">
                    <input type="submit" class="btn btn-success" value="Salvar">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div><!--modal-->

    <!-- Modal loan -->
    <div class="modal fade" id="loan" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Empréstimo</h5>
                </div>
                <div class="modal-body">
                    <form method="POST" action="#">{% csrf_token %}
                    <table>
                        {{ form_loan.as_table }}
                    </table>
                    <hr class="mb-4">
                    <input type="submit" class="btn btn-success" value="Salvar">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div><!--modal-->
</div><!--container-->

{% endblock content %}