{% extends 'books/_layouts/base.html' %}

{% block title %}Home{% endblock title %}

{% block menu %}
<!--menu-->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Menu
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <button type="button" class="dropdown-item" data-toggle="modal" data-target="#newcategory">
            Nova Categoria
        </button>
        <button type="button" class="dropdown-item" data-toggle="modal" data-target="#newbook">
            Novo Livro
        </button>
        <button type="button" class="dropdown-item" data-toggle="modal" data-target="#loan">
            Emprestar
        </button>
        <button type="button" class="dropdown-item" data-toggle="modal" data-target="#return_book">
            Devolução
        </button>
    </div>
</li>
{% endblock menu %}

{% block content %}

{% if status == '0' %}
    <div class="alert alert-success mt-3" role="alert">
        Livro cadastrado
    </div>
{% elif status == '1' %}
    <div class="alert alert-danger mt-3" role="alert">
        Livro não existe
    </div>
{% elif status == '2' %}
    <div class="alert alert-danger mt-3" role="alert">
        Acesso inválido
    </div>
{% elif status == '3' %}
<div class="alert alert-success mt-3" role="alert">
    Livro deletado
</div>
{% elif status == '4' %}
<div class="alert alert-success mt-3" role="alert">
    Categoria cadastrada
</div>
{% elif status == '5' %}
<div class="alert alert-success mt-3" role="alert">
    Empréstimo concluído
</div>
{% elif status == '6' %}
<div class="alert alert-success mt-3" role="alert">
    Livro devolvido
</div>
{% endif %}

<div class="container">
    <div class="row">
        {% for book in books %}
            <div class="col-md mb-3">
                <div class="card" style="width: 18rem;">
                    {% if book.image %}
                    <img src="{{ book.image.url }}" style="width: auto; max-height: 286px; object-fit: contain;">
                    {% else %}
                    <img src="{{ MEDIA_URL }}img.jpg" width="100%">
                    {% endif %}
                    <div class="card-body" style="text-align: center;">
                        <h5 class="card-title mb-3">{{ book }}</h5>
                        <!-- buttons -->
                        <div class="mt-4">
                            <a class="btn btn-primary" href="{% url 'books:details' book.id %}"">Acessar</a>
                            {% if book.lent %}
                                <button type="button" class="btn btn-outline-danger">
                                    Emprestado
                                </button>
                            {% else %}
                                <button type="button" class="btn btn-outline-success">
                                    Disponível
                                </button>
                            {% endif %}
                        </div><!--buttons-->
                    </div><!--card body-->
                </div><!--card-->
            </div><!--col-->
        {% endfor %}
    </div><!--row-->

    <!-- Modal category -->
    <div class="modal fade" id="newcategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cadastrar categoria</h5>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'books:register_category' %}">{% csrf_token %}
                        
                        {{ form_category.as_p }}
                    
                    <hr class="mb-4">
                    <input type="submit" class="btn btn-success" value="Salvar">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div><!--modal-->
    
    <!-- Modal newbook -->
    <div class="modal fade" id="newbook" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cadastrar livro</h5>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'books:register_book' %}" enctype="multipart/form-data">{% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                    <hr class="mb-4">
                    <input type="submit" class="btn btn-success" value="Salvar">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div><!--modal-->

    <!-- Modal loan -->
    <div class="modal fade" id="loan" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Empréstimo</h5>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'books:loan' %}">{% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">Mutuário:</label>
                            <input name="borrower" type="text" placeholder="Pegou emprestado..." class="form-control" required>
                        </div>
                
                        <div class="mb-3">
                            <label class="form-label">Livro:</label>
                            <select name="book_id" class="form-control">
                                <option disabled selected>Escolha...</option>
                                {% for book in books %}
                                    {% if not book.lent %}
                                        <option value="{{ book.id }}">{{ book.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <hr class="mb-4">
                        <input type="submit" class="btn btn-success" value="Salvar">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div><!--modal-->

    <!-- Modal return book -->
    <div class="modal fade" id="return_book" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Devolução</h5>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'books:return_book' %}">{% csrf_token %}         
                        <div class="mb-3">
                            <label class="form-label">Livro:</label>
                            <select name="book_id" class="form-control">
                                <option disabled selected>Escolha...</option>
                                {% for book in books %}
                                    {% if book.lent %}
                                        <option value="{{ book.id }}">{{ book.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <hr class="mb-4">
                        <input type="submit" class="btn btn-success" value="Salvar">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div><!--modal-->

</div><!--container-->

{% endblock content %}